@import 'leaflet/dist/leaflet.css';
@import 'pelias-leaflet-plugin/dist/leaflet-geocoder-mapzen.css';

body {
  margin: 0;
  height: 100%;
}
.legend {
  user-select: none;
  padding: 6px 8px;
  font: sans-serif;
  font-size: 1rem;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
  color: #555;
  max-height: 25vh;
  overflow-y: auto;
}
.legend__title {
  margin: 0 0 5px;
  font-size: 1.25rem;
  font-weight: bold;
}
.legend__zone {
  margin: 5px;
  padding: 5px;
  transition-duration: 0.25s;
}
.legend__zone:hover, .legend__zone--focused {
  background: #ddd;
  background: rgba(200,200,200,0.6);
  border-radius: 3px;
  cursor: pointer;
  color: #222;
}
.legend__zone-color {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid grey;
}
.legend__zone-name {
  line-height: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
